<div>

    <div class='modal' [hidden]='mflag' id="loading">
        <div class="loader"></div>
    </div>
      <router-outlet></router-outlet>


  <!-- The Modal -->
  <div class="modal fade" id="customMsgPopup">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header" [class.bg-info]='customMessage.type==="Information"'
                                  [class.bg-danger]='customMessage.type==="Error"'
                                  [class.bg-warning]='customMessage.type==="Warning"'
                                  [class.bg-success]='customMessage.type==="Success"'>

          <h4 class="modal-title  text-white">{{customMessage.type}}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
         {{ customMessage.msg}}
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>
